
<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Log into your account</mat-card-title>
      <form class="basic-form" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" enctype="multipart/form-data">
        <ng-template matStepLabel>Fill out your account information</ng-template>

            <mat-form-field>
              <input matInput placeholder="Email" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
 
        <div>
          <button mat-raised-button color="primary">Sign in</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

